
body{
	font-family: 'Roboto', sans-serif !important;
	overflow-x: hidden;
}

.header{	
	position: relative;
	float: left;
	padding: 50px 100px;
	color: #fff;
	background: linear-gradient(90deg, #3f99c7 0%, #54addc 10%, #62bbe6 50%, #54addc 90%, #3f99c7 100%);

	.logo{
	    position: relative;
	    top: 0;
	    left: 0;
	    width: 163px;
	    height: 30px;
	    background: url(../img/svg/talentoday_logo.svg);
	    background-size: 163px;
	}

	.header-menu{
		text-align: right;
		
		.header-sub-menu{
			text-transform: uppercase;
			display: inline-block;	
			margin-right: 20px;	
		    font-weight: 400;
		    font-size: 18px;
		    line-height: 30px;
		    cursor: pointer;

		    img{
		    	vertical-align: text-bottom;
		    }
		}

	}

	.block-right{
		>div{
			padding: 70px 40px 10px;	
		}
	}

	.block-left{
		margin-top: 130px;
	}


}

.ttManager{
	font-size: 18px;
}

.offers-menu{
	background-color: $bg-grey-light;
	border-bottom: 2px solid $bd-grey;
	margin-bottom: 50px;

	.sub-menu-offers{
		margin: auto;
		text-transform: uppercase;
		padding: 20px 15px;
		font-size: 16px;
		color: $ft-grey;
		width: 100px;
		text-align: center;
		display: inline-block;
		cursor: pointer;

		&.active{
			color: $blue;
			border-bottom: 2px solid $blue;
		}
	}
}


.offer-contener{
	max-width: $screen-md;
	margin: auto;
	
	.el-offer{
		border: 2px solid $bd-grey;
		background-color: $bg-grey-light;
		padding: 20px;

		.title{
			font-size: 20px;
			margin-bottom: 15px;
		}

		.price{
			margin: 25px;

			.device{
				font-size: 30px;
				vertical-align: top;
			}

			.number{
				font-size: 46px;
			}

			.by-month{
				font-size: 18px;

				.little-device{
					display: none;
				}
			}

		}
	}

	.button-offer{
		padding: 15px;
		text-align: center;
		color: #fff;
		font-size: 20px;
		cursor: pointer;
		margin-bottom: 30px;
		display: none;

		&.offer-1{
			background-color: $blue;
		}
		
		&.offer-2{
			background-color: $green-blue;
		}

		&.offer-3{
			background-color: $green;
		}

	}


}

.first-table{
	margin: 0 15px 15px 10px;
	width: calc(100% - 25px);


	th, td{
		padding: 15px;
		width: calc( 33% - 110px);

		&:first-child{
			text-align: left;
			width: 330px;
		}

		&.td3{
			width: calc( 100% - 330px);
		}

		&:nth-child(2){
			.icon-valide , .icon-m1{
				color: $blue;
			}
		}

		&:nth-child(3){
			.icon-valide , .icon-m2{
				color: $green-blue;
			}
		}

		&:nth-child(4){
			.icon-valide , .icon-m3{
				color: $green;
			}
		}

	}

	tr{
		width: 100%;

		&.odd{
			td{
				background-color: #f1f1f1;
				border-left: 5px solid #fff;
			}
		}

	}

	th{
		font-size: 18px;
		font-weight: bold;
	}
}



.footer{
	.mid-grey{
		display: none; 
		background-color: $bg-grey-mid;
		color: $ft-grey;
		font-size: 17px;
		font-weight:200;

		.title{
			color: #fff;
			margin: 10px auto 25px;
			font-size: 20px;
			font-weight:200;
		}
	}

	.dark-grey {

		background-color: $bg-grey;
		color: $ft-grey;
		font-size: 16px;
		padding-bottom: 20px;

		.b-footer{
			float: left;
			height: 220px;
			line-height: 26px;
			width: calc(100%/6);
			text-align: left;
			line-height: 32px;

			.title{
				color: #fff;
				margin: 50px auto 10px;
			}

			&:first-child{
				margin-left: calc(100%/12);
			}
		}
	}


}


//____________________________________________________________ GENERALIZE

.f-l{
	float: left;
}


.m-show{
	display: none;
}

.uppercase{
	text-transform: uppercase;
}

.h2-like{
	font-size: 36px;
	line-height: 42px;
	margin-top: 15px;
	margin-bottom: 30px;
}

.button-like{
	border-radius: 5px;
    padding: 15px 25px;
    background-color: $blue-light;
    margin: auto;
	cursor: pointer;
	color: #fff;

		&.blue{
			background-color: $blue;
		}
		
		&.blue-g{
			background-color: $green-blue;
		}

		&.green{
			background-color: $green;
		}
}

.large-btn{
	width: auto;
}

.center{
	text-align: center;
}

.bg-grey-light{
	background-color: $bg-grey-light;
}


.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}



@media screen and (max-width: $screen-md) {
	.md-center{
		text-align: center;
	}

	.md-no-f{
		float: none;
	}

	.offer-contener .el-offer .price .by-month .little-device{
		display: inline-block;
		margin-top: 15px;
		font-size: 22px;
	}

	.offer-contener .el-offer .price{
		.by-month{
			font-size: 16px;
		}
		.number{
			display: block;
			font-size: 42px;
		}
	} 

	.offer-contener .fake-table{
		.hight-cases{
			height: 30px;

			p{
				//text-align: left;
				
				//-ms-transform: rotate(-90deg); /* IE 9 */
			    //-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
			    //transform: rotate(-90deg);
			}
		    
			&.pt60{
				padding-top: 0px;
				height: 40px;
			}					
		}

		.cases{
			height: 40px;
		}
	} 

	.offer-contener .button-offer{
		display: block;
	}


	.mid-grey{
		display: block !important;
	}


	.footer .dark-grey .b-footer{
		width: calc(100%/2);
		text-align: center;

		&:first-child{
			margin-left: 0;
		}
	}


	.large-btn{
		width: 220px;
	}

	.first-table{

		tr th{
			&:first-child{
				width: 66%;
			}
		}

		td , th{
			vertical-align: middle;
		}

		.m-vertical p{
			text-align: left;
			padding-left: 10px;
			width: 50px;
			vertical-align: middle;
			-ms-transform: rotate(-90deg); /* IE 9 */
		    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
		    transform: rotate(-90deg);
		}

		.m-height{
			height: 120px;

			th{
				vertical-align: bottom;
			}
		}

	} 

	.m-show{
		display: inline-block;
	}


	tr.m-show{
		display: table-row;
	}


}










// End Responsive Rules

@include margin-system("");
@media screen and (min-width: $screen-sm) { @include margin-system('s-'); }
@media screen and (min-width: $screen-md) { @include margin-system('m-'); }
@media screen and (min-width: $screen-lg) { @include margin-system('l-'); }

// PADDING SYSTEM

@include padding-system("");
@media screen and (min-width: $screen-sm) { @include padding-system('s-'); }
@media screen and (min-width: $screen-md) { @include padding-system('m-'); }
@media screen and (min-width: $screen-lg) { @include padding-system('l-'); }

// COL SYSTEM

@include col-system("");
@media screen and (max-width: $screen-xs) { @include col-system('xs-'); }
@media screen and (max-width: $screen-sm) { @include col-system('s-'); }
@media screen and (max-width: $screen-md) { @include col-system('m-'); }
@media screen and (max-width: $screen-lg) { @include col-system('l-'); }

// COL 5 SYSTEM

@include col-5-system("");
@media screen and (max-width: $screen-xs) { @include col-5-system('xs-'); }
@media screen and (max-width: $screen-sm) { @include col-5-system('s-'); }
@media screen and (max-width: $screen-md) { @include col-5-system('m-'); }
@media screen and (max-width: $screen-lg) { @include col-5-system('l-'); }

// Hide SYSTEM

@include hide-system("");
@media screen and (max-width: $screen-xs) { @include hide-system('xs-'); }
@media screen and (max-width: $screen-sm) { @include hide-system('s-'); }
@media screen and (max-width: $screen-md) { @include hide-system('m-'); }
@media screen and (max-width: $screen-lg) { @include hide-system('l-'); }